<!DOCTYPE html>
<html>
<head>
	<meta charset = "utf-8">
	<title>Hey there!!</title>
</head>
<body>
	<em><u><h1>Check Out All Active Buses and Bus Stops for Rutgers Live!</h1></u></em>
	<form action="/lovely_markers/" method="post">
		<fieldset>
			<legend>Please Enter Your Information Below!! Hopefully Near Campus!!</legend>
			<strong style="color:red">Your Name *Optional</strong><strong>:</strong><input type="text" name="name"><br />
			<strong style="color:red">Street *Optional</strong><strong>:</strong><input type="text" name="street"><br />
			<strong>City:</strong><input type="text" name="city" required="required"><br />
			<strong>State:</strong><input type="text" name="state"><br />
			<strong>Country:</strong><input type="text" name="country" required="required"><br />
			<input type="submit" value="Submit" name="submit" />
			<input type="reset" value="Reset" name="reset" />
		</fieldset>
	</form>
	<h3 style="color:red">The Red Marker Is YOUR current Location!</h3>
	<h3 style="color:#CCCC00">The Yellow Marker Indicates Active Current Bus Stops!</h3>
	<h3 style="color:blue">The Blue Marker Indicates All Active Current Buses! Stalk The Drivers Real Time!</h3>
	<h3>Hover over the markers to see what specific buses they are, bus stops or your location!</h3>
</body>
</html>